<body>
<div class="navigation-bar">
  <div class="navigation-container">
    <img class="logo" src="../../assets/images/logo.jpg">
    <h1>Our School</h1>
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Teacher</a></li>
      <li><a href="#">Attendance</a></li>
      <li><a href="#">Announcements</a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Grades</a></li>
    </ul>
    <a href="#">
      <img class="icon" src="../../assets/images/user-icon.png">
    </a>
    <a href="#">
      <img class="icon" src="../../assets/images/chat-icon.png">
    </a>
  </div>
</div>


</body>
