<app-teacher-navigation-bar></app-teacher-navigation-bar>


<!--Separator-->
<div style="height: 10px; background-color: #ececec"></div>

<main>
  <div class="container">
    <h1>Student Information</h1>
    <div class="student-info">
      <div class="info-item">
        <span class="label">Name:</span>
        <span class="value">{{ teacher.name }}</span>
      </div>
      <div class="info-item">
        <span class="label">Gender:</span>
        <span class="value">{{ teacher.gender }}</span>
      </div>
      <div class="info-item">
        <span class="label">Birthdate:</span>
        <span class="value">{{ teacher.birthDay }}</span>
      </div>
      <div class="info-item">
        <span class="label">Religion:</span>
        <span class="value">{{ teacher.religion }}</span>
      </div>

      <div class="info-item">
        <span class="label">Nationality:</span>
        <span class="value">{{ teacher.nationality }}</span>
      </div>

      <div class="info-item">
        <span class="label">Phone number:</span>
        <span class="value">{{ teacher.phoneNumber }}</span>
      </div>
      <div class="info-item">
        <span class="label">Email:</span>
        <span class="value">{{ teacher.email }}</span>
      </div>
      <div class="info-item">
        <span class="label">Gmail Address:</span>
        <span class="value">{{ teacher.gmailAddress }}</span>
      </div>
      <div class="info-item">
        <span class="label">Degree:</span>
        <span class="value">{{ teacher.degree }}</span>
      </div>

    </div>
  </div>
</main>


