<body>
<div class="profile-container">
  <div class="profile-column">
    <br>
    <label>Name:</label>
    <div class="display-box">
      <p class="display-box-content">Hassan Ali</p>
    </div>
    <br>
    <label>Age:</label>
    <div class="display-box">
      <p class="display-box-content">23Y</p>
    </div>
    <br>
    <label>Gender:</label>
    <div class="display-box">
      <p class="display-box-content">Male</p>
    </div>
    <br>
    <label>Address:</label>
    <div class="display-box">
      <p class="display-box-content">123 Main St, City</p>
    </div>
    <br>
    <label>Nationality:</label>
    <div class="display-box">
      <p class="display-box-content">Egyptian</p>
    </div>
  </div>
  <div class="profile-column">
    <br>
    <label>Level:</label>
    <div class="display-box">
      <p class="display-box-content">2nd</p>
    </div>
    <br>
    <label>Class:</label>
    <div class="display-box">
      <p class="display-box-content">1A, 2B, 3C</p>
    </div>
    <br>
    <label>Email:</label>
    <div class="display-box">
      <p class="display-box-content">hassan&#64;example.com</p>
    </div>
    <br>
    <label>Phone Number:</label>
    <div class="display-box">
      <p class="display-box-content">123-456-7890</p>
    </div>
    <br>
    <label>Religion:</label>
    <div class="display-box">
      <p class="display-box-content">Islam</p>
    </div>
  </div>
</div>
