<div class="navigation-bar">
  <div class="navigation-container">
    <img class="logo" src="../../../assets/images/logo.jpg">
    <h1>Our School</h1>
    <ul>
      <li><a href="teacher/parents">Parents</a></li>
      <li><a href="teacher/classes">Classes</a></li>
      <li><a href="teacher/subjects">Subjects</a></li>
      <li><a href="teacher/announcements">Announcements</a></li>
    </ul>
    <a href="#">
      <img class="icon" src="../../../assets/images/user-icon.png">
    </a>

  </div>
</div>
