<main>
  <div class="container">
    <h1>Create an Announcement</h1>
    <form (ngSubmit)="onPost(announcementsForm)" #announcementsForm="ngForm">

      <input
        placeholder="Title"
        required
        name="title"
        ngModel
        #title="ngModel">
      <br>
      <select
        [(ngModel)]="forWhich"
        name="forWhich"
        required
        #forWhichModel="ngModel">
        <option value="-1" selected disabled>For</option>
        <option value="2">Parents</option>
        <option value="1">Students</option>
        <option value="3">Teachers</option>
      </select>

      <textarea
        name="message"
        required
        placeholder="Write Your Announcement Here..."
        ngModel
        #message="ngModel">
      </textarea>

      <button [disabled]="announcementsForm.invalid">Post</button>
    </form>
  </div>
</main>
