<app-teacher-navigation-bar></app-teacher-navigation-bar>
<body>
  <div class="container">
    <div class="selector">
      <label>Level</label>
      <select name="classes" id="classes">
        <option value="">All</option>
        <option value="">1st</option>
        <option value="">2nd</option>
        <option value="">3rd</option>
      </select>
    </div>

    <div class="row">
      <div class="column">

        <div class="image-container">
          <img class="image" src="../../../assets/images/english.jpg"/>
          <h1>English</h1>
        </div>

        <div class="items">
          <div class="item" (click)="navigateToBooks()"><a href="/books">Books</a></div>
          <div class="item" (click)="navigateToSummaries()"><a href="/summaries">Summaries</a></div>
          <div class="item" (click)="navigateToRevisions()"><a href="/revisions">Revisions</a></div>
          <div class="item" (click)="navigateToVideos()"><a href="/videos">Videos</a></div>
          <div class="item" (click)="navigateToSExams()"><a href="/exams">Exams</a></div>
        </div>

      </div>
    </div>
  </div>
</body>
