<div class="container">
  <h1>Create an Announcement</h1>
  <form (ngSubmit)="onPost(announcementForm)" #announcementForm="ngForm">
    <input placeholder="Title" required name="title" ngModel>

    <select required name="subject" [(ngModel)]="currentSubjectIndex" (change)="getClasses()">
      <option selected disabled value="-1">Subject</option>
      <option *ngFor="let subject of subjects;index as i " [value]=i>
        {{ subject.subject.name }}
      </option>
    </select>

    <select required name="class" [(ngModel)]="currentClassId">
      <option selected disabled value="-1">Class</option>
      <option *ngFor="let class of classes" [value]=class.id>
        Class {{ class.number }}
      </option>
    </select>
    <textarea ngModel name="message" placeholder="Write Your Announcement Here..."></textarea>
    <button>Post</button>
  </form>


</div>
