<div class="navigation-bar">
  <div class="navigation-container">
    <img class="logo" src="../../assets/images/logo.jpg">
    <h1>Our School</h1>
    <ul>
      <div class="dropdown">
        <li><a href="#"> Students</a></li>
        <div class="dropdown-content">
          <a href="admin/view-students">View Students</a>
          <a href="admin/add-student">Add Students</a>
          <a href="#">View Attendance</a>
          <a href="admin/grades">Assign Final Grades</a>
        </div>
      </div>
      <li><a href="#">Parents</a></li>
      <li><a href="#">Classes</a></li>
      <li><a href="admin/subjects">Subjects</a></li>
      <li><a href="admin/teachers">Teachers</a></li>
      <li><a href="#">Announcements</a></li>

    </ul>
    <a href="#">
      <img class="icon" src="../../assets/images/user-icon.png">
    </a>

  </div>
</div>
