<div class="navigation-bar">
  <div class="navigation-container">
    <img class="logo" src="../../assets/images/logo.jpg">
    <h1>Our School</h1>
    <ul>
      <div class="dropdown">
        <li><a href="#"> Students</a></li>
        <div class="dropdown-content">
          <a href="#">View Students</a>
          <a href="#">Add Students</a>
          <a href="#">View Attendance</a>
          <a href="#">Assign Final Marks</a>
        </div>
      </div>
      <li><a href="#">Parents</a></li>
      <li><a href="#">Classes</a></li>
      <li><a href="#">Subjects</a></li>
      <li><a href="#">Teacher</a></li>
      <li><a href="#">Announcements</a></li>

    </ul>
    <a href="#">
      <img class="icon" src="../../assets/images/user-icon.png">
    </a>

  </div>
</div>
