<body>
  <form class="form-wrapper">
    <form class="form-container">
      <div class="title">
        <h1>Add New Summaries</h1>
      </div>

      <div class="container">
        <div class="class">
          <label>To Class:</label>
          <input type="text" id="class" name=""><br>
        </div>

        <div class="upload">
          <label>Upload:</label>
          <input type="text" id="upload" name=""><br>
        </div>
      </div>

      <div class="button">
        <div>
          <input class="upload-button" type="submit" value ="Upload">
        </div>
        <div>
          <input class="cancel-button" type="submit" value ="Cancel">
        </div>
      </div>
    </form>
  </form>
</body>
