<section id="gallery">
  <div class="grid">
    <div>
      <a href="#">
        <img src="../../assets/images/philosophy.jpg" alt="Image 1">
      </a>
      <p>Eren Yeager</p>
    </div>
    <div>
      <a href="#">
        <img src="../../assets/images/philosophy.jpg" alt="Image 1">
      </a>
      <p>Eren Yeager</p>
    </div>

    <div>
      <a href="#">
        <img src="../../assets/images/philosophy.jpg" alt="Image 1">
      </a>
      <p>Eren Yeager</p>
    </div>

    <div>
      <a href="#">
        <img src="../../assets/images/philosophy.jpg" alt="Image 1">
      </a>
      <p>Eren Yeager</p>
    </div>

    <div>
      <a href="#">
        <img src="../../assets/images/philosophy.jpg" alt="Image 1">
      </a>
      <p>Eren Yeager</p>
    </div>

    <div>
      <a href="#">
        <img src="../../assets/images/philosophy.jpg" alt="Image 1">
      </a>
      <p>Eren Yeager</p>
    </div>


  </div>
</section>

