<app-admin-navigation-bar></app-admin-navigation-bar>
<body>
<form class="horizontal-form" (ngSubmit)="onAdd()" #subjectForm="ngForm">
  <input type="text" placeholder="Name" required [(ngModel)]="subjectToBeAdded.name" name="name">

  <select required name="level" [(ngModel)]="subjectToBeAdded.name">
    <option value="" disabled selected>Level</option>
    <option *ngFor="let level of levels" [value]=level.id>
      {{ level.name }}
    </option>
  </select>
  <select required name="department">
    <option value="" disabled selected>Department</option>
    <option *ngFor="let department of departments" [value]=department.id>
      {{ department.name }}
    </option>
  </select>
  <select required name="term">
    <option value="" disabled selected>Term</option>
    <option *ngFor="let term of terms" [value]=term.id>
      {{ term.name }}
    </option>
  </select>
  <!--  <label for="picture-upload" class="picture-upload">Upload a Picture</label>-->
  <!--  <input id="picture-upload" type="file"/>-->

  <button type="submit" [disabled]="subjectForm.invalid">Add</button>
</form>

<div class="search-container">
  <input type="text" id="search-input" placeholder="Search">
  <button id="search-button">Search</button>
</div>


<table>

  <tbody>
  <tr *ngFor="let subject of subjectsRecords; index as i">
    <td>{{ "subject.name" }}</td>
    <td>{{ subject.level.name }}</td>
    <td>{{ subject.department.name }}</td>
    <td>{{ subject.term.name }}</td>

    <td>
      <!--      <button class="table-button"> Update</button>-->
      <button class="table-button" (click)="onDelete(i)"> Delete</button>
    </td>
  </tr>

  </tbody>
</table>
</body>
