<body>

  <div class="title">
    <img class="image" src="../../../assets/images/english.jpg"/>
    <h1 class = "path">English/Summaries</h1>
  </div>


  <div class="container">
    <div class = "selector">
      <label>Class</label>
      <select name="classes">
        <option value="">All</option>
        <option value="">1A</option>
        <option value="">2B</option>
        <option value="">3C</option>
      </select>
    </div>
  </div>


  <div class = "row">
    <div class = "column">
      <div class="subject">Unit 1.pdf</div>
    </div>
    <div class = "column">
      <div class="class">All Classes</div>
    </div>
  </div>

  <div class = "row">
    <div class = "column">
      <div class="subject">Unit 2.pdf</div>
    </div>
    <div class = "column">
      <div class="class">Class 1A, 2B</div>
    </div>
  </div>

  <div class = "row">
    <div class = "column">
      <div class="subject">Unit 3.pdf</div>
    </div>
    <div class = "column">
      <div class="class">Class 3C</div>
    </div>
  </div>

  <div class="button">
    <input type="submit" value ="+Add New Summaries">
  </div>

</body>
