<div *ngIf="checkIfUrlContainsTeacher()">
  <app-teacher-navigation-bar></app-teacher-navigation-bar>
</div>
<div *ngIf="!checkIfUrlContainsTeacher()">
  <app-navigation-bar></app-navigation-bar>
</div>



<div class="container">
  <h1>Materials</h1>
  <div class="materials">
    <div class="material">
      <a (click)="addParameterToCurrentUrl('0')">
        <div class="icon">📚</div>
        <h2>Books</h2>
        <p>A wide range of textbooks and reference books.</p>
      </a>
    </div>
    <div class="material">
      <a (click)="addParameterToCurrentUrl('4')">
        <div class="icon">📝</div>
        <h2>Exams</h2>
        <p>Past exam papers and sample questions.</p>
      </a>
    </div>
    <div class="material">
      <a (click)="addParameterToCurrentUrl('3')">
        <div class="icon">🎥</div>
        <h2>Videos</h2>
        <p>Educational videos and tutorials.</p>
      </a>
    </div>
    <div class="material">
      <a (click)="addParameterToCurrentUrl('1')">
        <div class="icon">🗂️</div>
        <h2>Summaries</h2>
        <p>Concise summaries of key topics.</p>
      </a>
    </div>
    <div class="material">
      <a (click)="addParameterToCurrentUrl('2')">
        <div class="icon">🔄</div>
        <h2>Revisions</h2>
        <p>Revision notes and practice tests.</p>
      </a>
    </div>
  </div>
</div>

