<div *ngIf="checkIfUrlContainsTeacher()">
  <app-teacher-navigation-bar></app-teacher-navigation-bar>
</div>
<div *ngIf="!checkIfUrlContainsTeacher()">
  <app-navigation-bar></app-navigation-bar>
</div>

<br>
<div class="main">

  <div class="container">
    <div class="content">
      <header>
        <h1>File List</h1>
      </header>
      <div class="file-list">
        <button *ngFor="let file of files" class="file-item" (click)="downloadFile(file.id)">
          <span class="file-icon">📄</span>
          <span class="file-name">{{ file.name }}</span>
        </button>
      </div>

    </div>
  </div>

</div>



