.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

header {
  background-color: #070147;
  color: white;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

.upload-button {
  background-color: #070147;
  color: white;
  border: 2px solid #070147;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
  display: block;
  margin: 20px auto;
  text-align: center;
}

.upload-button:hover {
  background-color: #fff;
  color: #070147;
}

.file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

}

.file-item {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(31% - 40px);
  display: flex;
  align-items: center;
  transition: transform 0.3s;

}

.file-item:hover {
  transform: translateY(-10px);
}

.file-icon {
  margin-right: 10px;
  font-size: 2em;
}

.file-name {
  font-size: 1.2em;
  color: #333;
}


select {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 23px;
}

.select-container {
  display: flex;
  align-items: center;
  margin-top: 60px;
  justify-content: center;
}

label {
  margin-right: 10px;
  margin-top: 0;
  font-size: 25px;
}

